<mat-form-field>
    <mat-label>jednostka</mat-label>
    <mat-select>
      <mat-option *ngFor="let unit of units" value="unit.id">
        {{unit.type +" "+ unit.capacity +"kg"}}
      </mat-option>
    </mat-select>
  </mat-form-field>