<mat-toolbar>
<mat-menu #appMenu="matMenu">
    <a mat-menu-item routerLink="login">Login</a>
    <a mat-menu-item routerLink="flavors">Smaki</a>
    <a mat-menu-item routerLink="units">Jednostki</a>
    <a mat-menu-item routerLink="orders">Zamówienia</a>

</mat-menu>
  
<button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
</button>
</mat-toolbar>