<mat-tab-group>
<div *ngIf="flavors.length > 0; then flavorsList else noFlavors"></div>
<mat-tab>
    <ng-template mat-tab-label #flavorsList>Dostępne smaki:</ng-template>
    <ng-template mat-tab-label #noFlavors>Brak smaków!</ng-template>
    <mat-list>
        <mat-list-item *ngFor="let flavor of flavors">
            <favorite [isFavorite]="flavor.isFavorite" (change)="onFavoriteChanged($event)"></favorite><span> {{ flavor.name }} </span><app-units></app-units>
            <button mat-raised-button color="warn" (click)="onChange(flavor)">usuń</button>
        </mat-list-item>
    </mat-list>
    <form #f="ngForm" (ngSubmit)="onAdd(name.value)">
    <mat-form-field>
        <input matInput ngModel type="text" #name="ngModel" id="flavorName" name="name" minlength="3" [(ngModel)]="clearInput"
        placeholder="nazwa smaku">
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="name.invalid" >Dodaj</button>
    <div *ngIf="name.touched && !name.valid ">
        <div *ngIf="name.errors.minlength">nazwa smaku powinna mieć przynajmniej {{name.errors.minlength.requiredLength}} znaki!</div>
    </div>
    </form>
</mat-tab>
    <mat-tab>
        <ng-template mat-tab-label><mat-icon>star</mat-icon> Ulubione</ng-template>
        <mat-list>
            <mat-list-item *ngFor="let flavor of flavors">
                <favorite [isFavorite]="flavor.isFavorite" (change)="onFavoriteChanged($event)"></favorite><span> {{ flavor.name }} </span><app-units></app-units> 
            </mat-list-item>
        </mat-list>
    </mat-tab>
</mat-tab-group>